.button {
 
    -fx-background-color: #d32a25;
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-cursor: hand;
    
}

.button:pressed {
 
    -fx-opacity: 0.5;
    
}

.inovar-background {
 
    -fx-background-color: #d32a25;
    
}

.button-trash {
 
    -fx-background-color: rgba(0, 0, 0, 0);
    
}