.background {
    
    -fx-background-position: center;
    -fx-background-size: cover;
    
}

.icon {
 
    -fx-font-family: "FontAwesome";
    
}

.quantidade_mensagens {
	
	-fx-font-size: 20;
	-fx-text-fill: white;
	
}

.informacao_mensagens {
	-fx-font-size: 14;
	-fx-text-fill: white;
}

.open-sans {
 
    -fx-font-family: 'Open Sans';
    -fx-font-weight: bold;
    
}

.button {
 
    -fx-cursor: hand;
    
}

.button:pressed,.button-item-group {
 
    -fx-opacity: 0.5;
    
}

/*

    ESTILO PARA O BLACKSCREEN DOS GRUPOS

*/

.invisible-scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.invisible-scroll-pane {
   -fx-background-color: transparent;
}

.invisible-scroll-pane .scroll-bar .increment-button {
  visibility: hidden;
}

.invisible-scroll-pane .scroll-bar .decrement-button {
  visibility: hidden;
}

.invisible-scroll-pane .scroll-bar:vertical {
  -fx-background-color: transparent;
}

.invisible-scroll-pane .scroll-bar:vertical .track-background {
  visibility: hidden;
}

.invisible-scroll-pane .scroll-bar:vertical .track {
  visibility: hidden;
}


/*

    PAINEL DE PEDIDO PARA LOGAR

*/

.painel-requer-facebook {
 
    -fx-background-color: rgba(5, 5, 5, 0.63);
    
}

.painel-requer-facebook .button {
 
    -fx-background-color: #7fb3ed;
    -fx-background-radius: 0;
    
}

/*

    ESTILO DO SPLASHPANE

*/

.splash-footer {

    -fx-background-color: #6f0101;

}

.splash-background {
 
    -fx-background-image: url('../images/splash.jpg');
    
}

.splash-pane {
 
    -fx-border-color: white;
    -fx-border-width: 1;
    
}

/*

    PAINEL DO TOPO

*/

.panel-inovar {

    -fx-background-color:  #801815;
    
}

.top-panel .titulo {
 
    -fx-text-fill: #505050;
    
}

.top-panel .info {
 
    -fx-text-fill: #801815;
    
}

.top-panel .right-panel Label {
 
    -fx-text-fill:  #ffffff;
    
}

.top-panel .right-panel .menu-membros {
 
    -fx-background-color: #770b08;
    -fx-background-radius: 0;
    -fx-cursor: hand;
    
}

.top-panel .right-panel .menu-membros:hover {
 
    -fx-background-color: #8d3b39;
    
}

.top-panel .right-panel .config-button {
 
    -fx-background-color: #5f0906;
    -fx-background-radius: 0;
    -fx-cursor: hand;
    
}

.top-panel .right-panel .config-button:hover {
 
    -fx-background-color: #8d3b39;
    -fx-font-size: 31;
    
}

/*

    PAINEL DA ESQUERDA

*/

#quitHboxButton:hover {
 
    -fx-background-color: #eaeaea;
    
}

#quitHboxButton:pressed {
 
    -fx-background-color: #ffffff;
    
}

.left-panel {

	-fx-background-color: #dadada;


}

.left-panel .accordion {
    
    -fx-box-border: transparent;
    
}

.left-panel .accordion .title .arrow {
    
    -fx-shape: ' ';
    
}

.left-panel .accordion .title {
    
    -fx-background-color: #dadada;
    
}

.left-panel .accordion .titled-pane:focused {
    
    -fx-text-fill:  black;
    
}

.left-panel .accordion .content {
    
    -fx-background-color: #dadada;
    
}

.left-panel .accordion .content .button {
    
    -fx-background-color: #dadada;
    -fx-cursor: hand;
    -fx-background-radius: 0;
    
}

.left-panel .accordion .content .button:hover {
    
    -fx-background-color: #a0a0a0;
    -fx-text-fill: white;
    
}

.left-panel .accordion .titled-pane,.left-panel .accordion {
    
    -fx-background-color: #dadada;
    -fx-background-radius: 0;
    -fx-border: null;
    
}

.left-panel .panel {

	-fx-border-style: none;
	-fx-background-color: #dadada;

}

.navegacao {
 
    -fx-text-fill: #9e9c9c;
    
}

.sair {
    
    -fx-background-color: #dadada;
    
}

.sair .button {
 
    -fx-text-fill: #393939;
    -fx-font-size: 14px;
    -fx-background-color: rgba(218, 218, 218, 0);
    -fx-background-radius: 0;
    
}

.sair .icone {
 
    -fx-text-fill: #801815;
    -fx-font-size: 18px;
    
}

/*

    CORPO DO SOFTWARE

*/

.capa .label {
 
    -fx-text-fill: white;
    
}

.capa {
 
    -fx-background-position: center;
    -fx-background-size: cover;
    
}

.foto {

    -fx-background-color: white;
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-border-width: 3;
    -fx-border-radius: 2;

}

.corpo .title {
 
    -fx-text-fill: #801815;
    
}

.more {
 
    -fx-background-color: #d7d7d7;
    -fx-border-color: #a0a0a0;
    -fx-border-width: 1;
    -fx-border-style: solid;
    
}

.more .label {
 
    -fx-text-fill: #a0a0a0;
    -fx-margin-bottom: 20px;
    
}

/*

    PAINEL DA DIREITA

*/

.launch-button {
    
    -fx-background-color: #770b08;
    
}

.launch-button .button {
    
    -fx-background-color: #770b08;
    -fx-border-style: none;
    
}

.launch-button .button:hover {
    
    -fx-background-color: #5a0704;
    
}

.message-log {
    
    -fx-background-color: #8f1b18;
    -fx-border-style: none;
    
}

.message-log .label {
    
    -fx-text-fill: white;
    -fx-fill: white;
    
}

.message-log .anchor-pane {
    
    -fx-background-color:  #8d3b39;
    
}

/*

    RODAPE DO SOFTWARE

*/

.copyright {
 
    
    
}
