.loading {
 
    -fx-background-image: url("../images/loading.gif");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
    
}

.navbar-facebook {
 
    -fx-background-color: #7fb3ed;
    
}

.text-field.facebook {
    
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-color: #c7c7c7;

    
}

.button.facebook {
    
    -fx-background-color: #7fb3ed;
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-cursor: hand;
    
}

.button.facebook:pressed {
    
    -fx-opacity: 0.5;
    
}

.logo-facebook {
 
    -fx-background-image: url("../images/facelogo.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    
}